//var
// colors
$background-color: #fff;
$background-color-2: #53a284; 
$background-color-3: #90ee90;
$background-color-4: #64c29e;
$background-color-5: #282f35;
$background-color-6: #4d4959;
$background-color-7: #f7f7f7;
$text-color-1: #353738;
$text-color-2: #848789;
$text-color-3: #cccccc;
// font familys
$font-lato: 'Lato', sans-serif;
$font-myriad: 'Myriad Pro', sans-serif;
// font sizes
$font-size-17:17px;
$font-size-18:18px;
// path
$path: "../";

