@font-face {
    font-family: 'Lato';
    src: url('../foont/lato/Lato-Regular.eot');
    src: url('../foont/lato/Lato-Regular.eot?#iefix') format('embedded-opentype'),
        url('../foont/lato/Lato-Regular.woff2') format('woff2'),
        url('../foont/lato/Lato-Regular.woff') format('woff'),
        url('../foont/lato/Lato-Regular.ttf') format('truetype'),
        url('../foont/lato/Lato-Regular.svg#Lato-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lato';
    src: url('../foont/lato/Lato-Bold.eot');
    src: url('../foont/lato/Lato-Bold.eot?#iefix') format('embedded-opentype'),
        url('../foont/lato/Lato-Bold.woff2') format('woff2'),
        url('../foont/lato/Lato-Bold.woff') format('woff'),
        url('../foont/lato/Lato-Bold.ttf') format('truetype'),
        url('../foont/lato/Lato-Bold.svg#Lato-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Myriad Pro';
    src: url('../font/myriad_pro/MyriadPro-Bold.eot');
    src: url('../font/myriad_pro/MyriadPro-Bold.eot?#iefix') format('embedded-opentype'),
        url('../font/myriad_pro/MyriadPro-Bold.woff2') format('woff2'),
        url('../font/myriad_pro/MyriadPro-Bold.woff') format('woff'),
        url('../font/myriad_pro/MyriadPro-Bold.ttf') format('truetype'),
        url('../font/myriad_pro/MyriadPro-Bold.svg#MyriadPro-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Myriad Pro';
    src: url('../font/myriad_pro/MyriadPro-Regular.eot');
    src: url('../font/myriad_pro/MyriadPro-Regular.eot?#iefix') format('embedded-opentype'),
        url('../font/myriad_pro/MyriadPro-Regular.woff2') format('woff2'),
        url('../font/myriad_pro/MyriadPro-Regular.woff') format('woff'),
        url('../font/myriad_pro/MyriadPro-Regular.ttf') format('truetype'),
        url('../font/myriad_pro/MyriadPro-Regular.svg#MyriadPro-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}